.newsItem {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 290px;
  justify-content: space-between;
  transition: all 0.3s ease;
  color: var(--first-color);
}

.newsItem:hover {
  background: rgb(224, 224, 224);
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.newsItem:hover .title {
  background-color: var(--second-color);
  color: #fff;
  cursor: pointer;
}

.title {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  border-left: 2px solid var(--second-color);
  padding-left: 25px;
  margin: 25px;
  max-height: 150px;
  overflow: hidden;
	
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  padding-left: 25px;
}

.source {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 6px 0px 0px 0px;
  color: rgba(51, 61, 81, 0.5);
}
