
.mainFooter{
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
  align-items: center;
background-color: rgb(184, 220, 231);
margin: 90px 0px 0px 0px;
flex-wrap: wrap;

}

.footer-right p{
 text-align: right;
 font-weight: 400;
font-size: 12px;
line-height: 15px;
}
.footer-mid{
  font-weight: 400;
font-size: 15px;
line-height: 18px;
}

footer a {
  color: var(--main-color);

}
footer a:hover{
  text-decoration: underline;

}

