body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: var(--main-color);
   background-color: rgb(241, 241, 241);
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
   --main-color: #333d51;
   --second-color: #004fec;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}
a {
   text-decoration: none;
}
